.THIS .slds-item {
    border: 1px solid #d8dde6;
    border-radius: 0.25rem;
    background-clip: padding-box;
    padding: 0.45rem;
    margin: 0.25rem;
}
.THIS .stageContainer{
    float:left;
    border: 2px solid #d8dde6;
    margin: 0.05rem;
    border-radius: .25rem;
    width: 20px;
}
.THIS .cusFontStyle {
    font-size: initial;
    font-weight: bold;
    color: #717171;
}
.THIS .slds-page-header__title {
    padding: 0rem 0.5rem;
    background: #f7f9fb;
}

.THIS .dropZone{
    min-height:25rem;
}
.THIS .cusCursor {
    cursor: all-scroll;
}
.THIS .button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    border-radius: 25px;
  }
  
  .THIS  .button4:hover 
  {background-color: #e7e7e7;
    border-radius: 25px;
}